{{#each items}}
<div class="col-4 data-productId={{id}}">
    <div class="card">
        <img src={{images.[0]}}
            class="card-img-top img-fluid" alt="Босоножки 'MYER'">
        <div class="card-body navigation">
            <p class="card-text">{{title}}</p>
            <p class="card-text">{{price}}</p>
            <a href="/catalog/{{id}}" class="btn btn-outline-primary" data-nav>Заказать</a>
        </div>
    </div>
</div>
{{/each}}
